:root {
  --textcolor: #ecf8f8;
  --the-primary-color: #947eb9;
  --the-secondary-color: #519879; 
  --the-background-color: #272932; 
  --the-accent-color: #FB8B24;
  }
  
body {
  margin: 0%;
  scroll-behavior: smooth;
  background-color: var(--the-background-color);
  color: var(--textcolor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav header header"
  "nav section section"
  "nav section section";
  overflow: hidden;
}

nav {
height: 99vh;
margin-bottom: 5%;
margin-left: 0%;
position: absolute;
top: 0%;
border: 5px solid var(--the-secondary-color);
border-radius: 10px;
background-color: var(--the-secondary-color);
transition:200ms;
grid-area: nav;

}

.navi {
 color: transparent;
 height: 17vh;
 border: transparent;
 
}

header {
margin-bottom: 5%;
background-color: var(--the-primary-color);
width: 87vw;
border-radius: 5%;
display: grid;
grid-area: header;
}

h1{
  text-align: center;
  font-size: larger;
}

h2 {
  text-align: center;
  font-size: larger;
}
.sectionone {
  position: absolute;
  right: 50%;
  top: 40%;
  display: grid;
  grid-area: section;
}

.sectiontwo {
position: absolute;
top: 40%;
margin-left: 75%;
display: grid;
grid-area: section;
}

.menu,button {
  text-align: center;
  margin-right: 2.5em;
  margin-top: 2em;
  margin-bottom: 5em;
  list-style-type: none;
}

button {
  border:3px solid black;
  background-color: rgb(0, 0, 0);
  border-radius: 48%;
  padding: 8%;
  color: var(--textcolor);
  margin-left: 1.85em;
  margin-bottom: 19%;
  cursor: pointer;
  }

  button:hover {
    color: black;
    background-color: white;
    font-weight: bolder;


  }

  .menu:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 5px solid;
  }

 .meter{
  border-radius: 5%;
 }

 .sectionone, .sectiontwo {
  top: 10%;
 }